Library/*
Temp/*
*.sln
Unity Project Files/Library/*
Unity Project Files/Unity Project Files*.*
Unity Project Files/Assembly*.*
Unity Project Files/Library/*
Unity Project Files/Library/*.*
Unity Project Files/Unity Project Files*.*
