Library/*
Temp/*
*.sln
Unity Project Files/Library/*
Unity Project Files/Unity Project Files*.*
Unity Project Files/Assembly*.*
Unity Project Files/Library/*
Unity Project Files/Library/*.*
Unity Project Files/Unity Project Files*.*
Unity Project Files/_Resharper*
Unity Project Files/Assembly*
Unity Project Files/Assembly-CSharp-firstpass-vs.csproj
Unity Project Files/Assembly-CSharp-firstpass.csproj
Unity Project Files/Assembly-UnityScript-firstpass-vs.unityproj
Unity Project Files/Assembly-UnityScript-firstpass.unityproj
Unity Project Files/Assembly-UnityScript-vs.unityproj
Unity Project Files/Assembly-UnityScript.unityproj
Assembly*
